<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }

      button {
        color: white;
        margin: 0.5em 1em;
        border-radius: 3px;
        padding: 0.25em 1em;
        background: green;
        border: 2px solid white;
      }
    </style>
  </head>

  <body>
    <h2>환영해요! <%= display_name %></h2>
    <p>아래 버튼을 클릭해서 인증을 완료해주세요:</p>
    <a href="<%= url %>/auth/activate?ticket=<%= ticket %>">
      <button>확인하기</button></a
    >
    <p>감사해요,<br />루아드맵 팀</p>
  </body>
</html>
